.incidentInfoContainer {
  display: flex;
  border: 1px solid black;
  width: 160px;
  min-height: 200px;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  font-size: 9px;
  color: wheat;
  font-weight: 600;

  & > span:not(:first-child) {
    margin-top: 2px;
  }
}
