.container {
  width: 1000px;
  height: 1000px;
  position: relative;
  margin-top: 50px;
  overflow: scroll;
}

.incidentBoxesContainer {
  position: relative;
  height: 70%;
  margin-left: 131px;
  width: 1000px;
}
