.wrapper {
  position: absolute;
  width: 1000px;
}

.horizontalLine {
  display: flex;
  position: absolute;
  top: 100%;
  left: 131px;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    width: 120%;
    border-top: 5px solid #000000;
  }
  z-index: 5;
}

.horizontalText {
  z-index: 5;
  position: absolute;
  display: flex;
  left: 0;
  margin-top: 10px;
  width: 45px;
  max-width: 45px;
  word-break: break-word;
  font-size: 13px;
  color: wheat;
  font-weight: 500;
  cursor: default;
}
